{% extends 'FinancialControl/index.html' %}

{% block title %}
    Delete account "{{ account.object_name|title }}"- {{ block.super }}
{% endblock %}

{% block content %}

    <form action="{{ account.get_delete_url }}" method="post">
        {% csrf_token %}
        <h3> Do you really want to delete <b>{{ account.object_name|title }}</b> account ?</h3>
        <a href="{{ account.get_absolute_url }}">Cancel</a>
        <button type="submit" class="btn btn-danger" name="account_delete">Delete</button>
    </form>

{% endblock %}
